.App {
  display: grid;
  width: 100%;
  height: 100%;
  /* justify-items: center; */
  align-items: center;
  grid-template-rows: 100%;
  grid-template-columns: 30% 70%;
  grid-template-areas: "first" "second";
  background-color: #faf3f3;
}

.cardList {
  grid-area: first;
}

.graph {
  /* grid-area: second; */
  width: 100%;
  height: 90%;
}