.App {
  display: grid;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: center;
  grid-template-rows: 10% 30% 60%;
  grid-template-areas: "first" "second" "third";
  background-color: #202040;
}

.location {
  grid-area: first;
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .App {
    grid-template-rows: 10% 20% 70%;
    align-items: center;
  }
  .location {
    width: 100%;
  }
}